@{
    Layout = null;
}

<h1 style="font-size:300%">Nguyen Thi Ngoc Tran-Curriculum Vitae</h1>


<table style="width:55%">

    <tbody>
        <tr>

            <th>

                <p>
                    <i>
                        122 Mễ Cốc,Ward  15,District 8
                        TPHCM city 700000
                        Vietnam
                    </i>
                </p>
            </th>

            <th>

                <p>
                    <i>Email: tran.t177196@vanlanguni.vn</i>
                </p>
            </th>
        </tr>
    </tbody>
</table>

<hr>

<h1>Personal information</h1>
<h1>

    <table>

        <tbody>
            <tr>

                <th>
                    <img alt="Avatar" height="200" src="https://cdn.browshot.com/static/images/not-found.png" width="200"><span style="font-weight:normal">
                    </span>
                </th>

                <th>

<pre><span style="font-weight:normal">			</span><i><span style="font-weight:normal">
<font size="4">Full name: Nguyen Thi Ngoc Tran
Birthday: 27/2/1999
Nationality: Vietnamese
Gender: Female</font>
		</span>	</i>
			</pre>
                </th>
            </tr>
        </tbody>
    </table>

    <hr>


    <p style="text-align:center">Education</p>

<pre style="font-size:24px"><i>Cấp I</i> Trường tiểu học Nguyễn Công Trứ,Tphcm,Việt Nam.
<i>Cấp II</i> Trường trung học cơ sở Bình Đông,Tphcm,Việt Nam.
<i>Cấp III</i> Trường trung học phổ thông Hùng Vương,Tphcm,Việt Nam
<i>Đại học</i> Trường đại học Văn Lang,Tphcm,Việt Nam
		
	</pre>

    <hr>
</h1>
<h1 style="color:blue">Skill</h1>

<pre style="font-size:24px">	Programming languages: C#, .NET, Java.
	Languages: Vietnamese (mother tongue), English.
	</pre>
<br>

<hr>

<h1 style="color:yellow">Activities</h1>
<h1>

    <p style="font-size:24px">

    </p>
    <br>

    <hr>

</h1>
<h1 style="color:red">Hobbies</h1>
<h1>

<pre style="font-size:24px">	<span style="font-weight:normal">Interested in drawing.
	I like watching movies.</span>
	</pre>
    <br>
    <br>
    <br>


</h1>
